__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

wandb/
voc_eval/
det_results/
runs/
log/

*.exr
*.npy

weights/**/*.pth
!weights/**/.gitkeep

VOCdevkit/
data/VOCdevkit/
